.sam2.1_b.pt.1798c593753c443fa09999e988daf2de.part
sam2.1_b.pt
video1.mp4
.venv
input.json
output.json
points.txt
car.mp4
car1.mp4
parking car.avi
video
images_frame
data_test
datasets/output.mp4
all_centers.py
auto_convert.py